*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  body{
    font-family: Open Sans,open-sans,sans-serif;
 
    
}
  

  .logo {  
      padding: 10px 0;
      display: inline-flex;
        text-align: left;  
        margin-left: 50px;
        }

        .menu-bar{
            
            font-size: larger;
            display: flex;
            margin-left: 30px;
            padding: 30px;
        }
        .menu-bar ul{
            padding: 30px 0;
            
            text-align: center;
            display: flex;
            list-style-type: none;
        }
        .menu-bar ul li{
            font-size: large;
            font-family: sans-serif;
            font-style: normal;
            width:200px;
            margin-top: 5px;
            text-align: center;
        }

        .main{
            background-color: rgb(0, 0, 0);
            color: white;
            padding-top: 10px;
            
            font-family: Open Sans,open-sans,sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
            width:100%;
            padding: 50px;

}
.divflex{
    display:flex;

}
.divbox{
    width:33%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
    

}
.divbox img{
    width:100%;
    opacity: 1;
    
    
}
.divbox img:hover{
    color: cadetblue;
    opacity: 0.6;
}
.divflex-min{
    flex-wrap:wrap;
    display:flex;

}
.divbox-min{
    width:25%;
    margin-bottom: 10px;

}
.divbox-min img{
    width:100%;
    margin-right:10px ;
    opacity: 1;
}
.divbox-min img:hover{
    opacity: 0.6;
}

.divbox-min1{
    width:25%;

}
.divbox-min1 img{
    width:100%;
    opacity: 1;

}
.divbox-min1 img:hover{
    opacity:0.6;
}
.divbox-min img{
    width:100%;
}
    .aboutdiv{
        background-color: black;
        color: white;
        padding:30px 0;

    }
    .contact{
        background-color: black;
        color: white;
        /* margin: 30px; */
    }

    .bear{
        background-color: rgb(46, 44, 44);
    }
    .menu-bar1{
        display:flex;
        justify-content:center;
        align-items:center;
        padding:70px 0;
        flex-direction:column;
    }
    .menu-bar1 ul{
        display: flex;
        text-align: center;
            }

    .menu-bar1 ul li{
        list-style-type: none;
        padding: 0 20px;
        color: rgb(250, 246, 239);
        display:inline;
        
    }
    .menu-bar1 p{
        color:rgb(114, 112, 108) ;
        font-size: small;
        margin-top:30px;
    }

    .corus{
        
        text-align: center;
        font-size: large;
        background-color: black;
        padding:30px 0;
        color: #fff;
        line-height:2;
    }

    
    .I1:hover{
        opacity:1;
        background-color: cadetblue;
    }
    .container-flex1{
            display: flex;
    }
    .footer{
        display:flex;
        justify-content:center;
        background-color: black;
        align-items:center;
        padding:0px 0;
        
    }
    .footer img{
        height:70px;
        opacity:0.7;
        padding: 0 30px;
    }
    .footer img:hover{
        opacity:1;
    }

    
    .title3{
        margin-top:-60px
    }
