{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  body{
    font-family: Open Sans,open-sans,sans-serif;
    margin: auto;
 
    
}
  }

  .logo {  
      display: inline-flex;
        /* width: auto;   */
        text-align: left;  
        padding-top: 15px;  
        /* border: 3px solid rgb(163, 52, 52);   */
        /* margin-right:1000px; */
        /* margin-left: 1000px; */
        /* margin-bottom: 1000px;
        margin-top: 60px; */
        background-color: white;
        margin-left: 50px;
        padding-left: 50px;
        
       

        size:auto;
        }

        .menu-bar{
            font-size: larger;
            /* display:block;
            border: 100px;
            /* width:1000px; */
            /* border-color: black; */
            display: flex;
            margin-left: 50px;
            width:300px;
            /* margin-left: 20px; */
        }
        .menu-bar ul{
            text-align: center;

            display: flex;
            /* list-style: none;
            color:#fff;
            height:50px;        */
            list-style-type: none;
            

        }
        .menu-bar ul li{
            font-size: large;
            text-decoration: solid;
            font-family: sans-serif;
            font-style: normal;
            width:200px;
            height:50px;
            padding: 0px;
            /* margin: 20px; */
            margin-top: 5px;
            /* padding-right: 55px; */
            padding-top: 20px;
            text-align: center;
  
  
        }

        .main{
            background-color: black;
            color: white;
            padding-top: 10px;
            height:1000px;
            font-family: Open Sans,open-sans,sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
            width:2000px;
            height:auto;
            margin-right: 20px;
            margin: auto;
            padding: 50px;

}
       .images{
           display: flex;
           margin:30px;
           margin-right: 20px;
           padding-left: 20px;
           margin-left: 20px;
       }
       .images2{
        display: flex;
        margin:30px;
        margin-right: 20px;
    }
    .images3{
        display: flex;
        margin:30px;
        margin-right: 20px;
    }
    .about{
        background-color: black;
        color: white;
        /* margin: 30px; */

    }
    .contact{
        background-color: black;
        color: white;
        /* margin: 30px; */
    }

    .bear{
        background-color: rgb(46, 44, 44);
        height:250px;
        margin: 0px;
        /* margin: 300px; */
        /* margin-bottom: 30px; */
    }
    .menu-bar1{
        margin: 0;
        margin-left: 80px;
        text-align: center;
        display: inline;
        list-style-type: none;
        margin: auto;
    }
    .menu-bar1 ul{
        padding-top: 30px;
        display: flex;
        padding-right: 0px;
        margin-right: 0px;
        text-align: center;
        margin-left: 250px;
        width:4000px;
        

    }

    .menu-bar1 ul li{
        /* margin: auto; */
        width:200px;
        /* height:50px; */
        padding: 0px;
        /* margin: 20px; */
        margin-top: 0px;
        /* padding-left: 80px; */
        /* padding-right: 35px; */
        /* padding-top: 125px; */
        text-align: center;
        list-style-type: none;
        margin-left: 0px;
        color: rgb(250, 246, 239);
        
    }
    .menu-bar1 p{
        color:rgb(114, 112, 108) ;
        margin-right:900px;
        padding-bottom: 50px;
        padding-top: 20px;
        font-size: small;
    }

    .corus{
        
        margin-top: 0px;
        text-align: center;
        padding-right: 620px;
        padding-top: 2px;
        font-size: large;
        background-color: black;
        margin-bottom: 0%;
        width: 2000px;
    }

    /* .nav-link:focus, .nav-link:hover {
        text-decoration: none;
    } */

    /* .I1 {
            position: absolute;
            bottom: 8px;
            left: 16px;
            z-index:auto;
    }
    */
    .title1{
        margin-top: -50px;
    }
    .I1:hover{
        opacity:1;
        background-color: cadetblue;
    }
    .container-flex1{
            display: flex;
    }
    .footer{
        margin: 0px;
        margin-top: 0%;

        
    }
    .title2{
        margin-top: -23px ;
    }